* {

    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(228, 146, 25)
    

}

.cajaAmarilla {
    height: 100px;
    background-color: yellow
}

@font-face {
    font-family: thesimpson;
    src: url(/flexbox/fonts/SimpsonFont.otf);
}

h1 {
    font-family: thesimpson;
}

footer {
    background-image: url(/flexbox/images/donas.jpg)
    background-color: yellow;
    padding: 30px;
}
